body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u6318 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u6319 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
}
#u6320 {
  position:absolute;
  left:352px;
  top:181px;
  width:187px;
  height:60px;
  color:#FF3399;
}
#u6321 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
