body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:656px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  position:absolute;
  left:98px;
  top:0px;
  width:320px;
  height:550px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5061 {
  position:absolute;
  left:98px;
  top:0px;
  width:320px;
  height:40px;
  font-size:16px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5063 {
  position:absolute;
  left:115px;
  top:56px;
  width:57px;
  height:20px;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:2px;
}
#u5065 {
  position:absolute;
  left:115px;
  top:82px;
  width:216px;
  height:1px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:115px;
  top:99px;
  width:71px;
  height:20px;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:2px;
}
#u5069 {
  position:absolute;
  left:115px;
  top:125px;
  width:216px;
  height:1px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:115px;
  top:145px;
  width:71px;
  height:20px;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u5073 {
  position:absolute;
  left:115px;
  top:171px;
  width:296px;
  height:1px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5075 {
  position:absolute;
  left:115px;
  top:193px;
  width:71px;
  height:20px;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u5077 {
  position:absolute;
  left:115px;
  top:219px;
  width:296px;
  height:1px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079 {
  position:absolute;
  left:172px;
  top:53px;
  width:149px;
  height:25px;
}
#u5079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5080 {
  position:absolute;
  left:186px;
  top:93px;
  width:135px;
  height:25px;
}
#u5080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5081 {
  position:absolute;
  left:186px;
  top:182px;
  width:225px;
  height:25px;
}
#u5081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.807843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5082 {
  position:absolute;
  left:188px;
  top:498px;
  width:140px;
  height:40px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:331px;
  top:39px;
  width:87px;
  height:87px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  word-wrap:break-word;
}
#u5086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5086 {
  position:absolute;
  left:395px;
  top:149px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5087 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5088 {
  position:absolute;
  left:112px;
  top:12px;
  width:16px;
  height:16px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5090 {
  position:absolute;
  left:473px;
  top:53px;
  width:183px;
  height:20px;
}
#u5091 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5092 {
  position:absolute;
  left:473px;
  top:508px;
  width:141px;
  height:20px;
}
#u5093 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
